/*************/
/* CSS RESET */
/*************/

/*naar een idee van Jen Simmons*/
*, *::after, *::before {
    box-sizing:border-box;  
}
  
body {
    margin:0;
}
  
button:not([disabled]) {
    cursor:pointer;
}




  

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --headings: rgb(21,24,24);
    --links: rgb(116, 5, 60);
    --linksactive: rgb(255, 255, 255);
    --background-green: rgb(201, 231, 214);
}






/**************/
/*** BASICS ***/
/**************/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
p, q {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}





/**************/
/*** HEADER ***/
/**************/
header {
    position: sticky;
    top: 0;
    background-color: aquamarine;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h1 {
    grid-column: 2;
    justify-self: center;
}
header nav {
    justify-self: right;
    margin-right: 1em;
}